/*=================================================
    PICTURE STYLES
===================================================*/


.photo-container {
      background-image: url(./pokemon3.jpg);
      background-color: black;
      text-align: center;
      filter: grayscale(5%);
      border-radius: 20px;
      padding: 10px;
      width: 100%;
      display: block;
      height: auto;
      
}
.container {
    position: relative;
    width: 50%;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.container:hover .image{
    opacity: 0.3;
}
.container:hover .middle {
    opacity: 1;
}
.text {
    background-color: darkgrey;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
    
}

/*===========================================
    CONTAINER HOLDING THE IMAGE AND THE TEXT
=============================================*/
.container {
    filter: grayscale(25%);
    position: relative;
    text-align: center;
    color: white;
    border-radius: black;
    padding: 20px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bolder;

}
.top-left {
    position: absolute;
    top: 50px;
    left: 50px;
}

/*========================================
    FOOTER STYLES
==========================================*/

#footer {
    background-color: gray;
    color: black;
    text-shadow: 2px 2px 8px 0 (0,0,0,0.4);
    padding: 20px 50px 20px 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
}

/*==========================================
    TABLE STYLES
============================================*/

table, th, td {
    border: 5px solid black;
    border-collapse: collapse;
    padding: 5px;
    background-color: darkgrey;
}

th {
    background-color: white;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

/*========================================
    NAVBAR
=========================================*/

.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover {
    background: white;
    color: black;
}
.main {
    margin-top: 30px;
    text-align: left;
}
/*===============================================
    END NAVBAR
================================================*/

/*===============================================
    COLUMN START
=================================================*/

.row {
    display: flex;
}
.column {
    flex: 50%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: darkgrey;
    font-size: larger;
    font-weight: bolder;
    height: 200px;
    width: 100%;
   
}
/*================================================
    COLUMN END
==================================================*/
p {
    background-color: gray;
    color: rgb(253, 253, 19);
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
}
P:hover {
    background-color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bolder;
}

h1 {
    text-align: center;

}

/*===================================================
    IFRAME STYLE
=====================================================*/
.video-container {
    position: relative;
    padding-bottom: 30%; /* 16:9 */
    padding-top: 30px; /* size of chrome */
    height: 0; 
    overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container #overlay,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#overlay {
    background:#000;
    opacity:0.5;
    /*background:rgba(255,255,255,0.8); or just this*/
    z-index:50;
    color: yellow;
}
